body {
  margin: 0;
  overflow: hidden;
  background: black;
}

.center-img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}

button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
}

/* pétalos */
.petals::before {
  content: "🌸 🌸 🌸 🌸 🌸 🌸";
  position: absolute;
  width: 100%;
  animation: fall 10s linear infinite;
}

@keyframes fall {
  0% { transform: translateY(-100px); }
  100% { transform: translateY(100vh); }
}
